<!DOCTYPE html>
<html>
<head>
    <title>About Page</title>
</head>
<body>
   
    <span><a href="/">Home</a></span> <span>About</span> <span><a href="/contact">Contact</a></span>
    <h3>About Us</h3>
</body>
</html>
