<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <span>Home</span> <span><a href="/about">About</a></span> <span><a href="/contact">Contact</a></span>
    <h3>Welcome to the Home Page!</h3>
   
</body>
</html>
